/* mobile */
body{
  width: 480px;
  margin: 0 auto;
}
main{
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}
div{
  display: flex;
  align-items: center;
}
.header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.aside{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#right{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#q1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4 ;
  grid-row-end: 5;
}
#q2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4 ;
  grid-row-end: 5;
}
#q3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5 ;
  grid-row-end: 6;
}
#q4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5 ;
  grid-row-end: 6;
}
.bottom-block{
  grid-column-start: 1; 
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 960px){ 
  body{
    width: 840px;
    margin: 0 auto;
  }
  main{
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
  }
  div{
    display: flex;
    align-items: center;
  }
  .header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .aside{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #right{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #q1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4 ;
    grid-row-end: 5;
  }
  #q2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4 ;
    grid-row-end: 5;
  }
  #q3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5 ;
    grid-row-end: 6;
  }
  #q4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5 ;
    grid-row-end: 6;
  }
  .bottom-block{
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

/* desktop size */
@media only screen and (min-width: 961px){
  body{
    width: 960px;
    margin: 0 auto;
  }
  main{
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
  }
  .header{
    grid-column-start: 1; 
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .aside{
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  #left{
    grid-column-start: 2; 
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #right{
    grid-column-start: 4; 
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #q1{
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #q2{
    grid-column-start: 3; 
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #q3{
    grid-column-start: 4; 
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #q4{
    grid-column-start: 5; 
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .bottom-block{
    grid-column-start: 2; 
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}